---
import Logo from "./Logo.astro";
import { getI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="text-xl text-left px-20 mt-8 text-pretty">
  <Logo class="w-16 text-white m-auto mb-10" />

  <h1
    class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    {i18n.INTRO_TITLE}
    <br />{i18n.INTRO_TITLE_BR}
  </h1>
  <p set:html={i18n.INTRO_DESCRIPTION_1} />
  <p set:html={i18n.INTRO_DESCRIPTION_2} />
  <p set:html={i18n.INTRO_DESCRIPTION_3} />
</section>
